.searchForm {
  font-size: 24px;
  background-color: hsla(0, 61%, 83%, 0.425);
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

.searchForm__label {
  font-size: 28px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-direction: column;
  height: 90px;
}
